name: Just test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
    - "**"
  workflow_dispatch:
    inputs: {}

jobs:
  just-test:
    runs-on: ubuntu-latest
    steps:
    - name: Echo something
      run: echo "it works!"